mock
pytest
coverage
pytest-cov
jupyter
jupyterlab
m2r
nbformat
nbconvert>=5.4.*
sphinx>=1.5.*
sphinx_bootstrap_theme>=0.4.*
nbsphinx>=0.2.*
sphinx-gallery>=0.1.*
sphinx_rtd_theme
twine
ipykernel
zest.releaser
matplotlib